<div class="card" >
  <img src="/assets/aq.png" class="card-img-top" alt="h4fan security">
  <div class="card-body">
    <h5 class="card-title">{{ site.title }}</h5>
    <p class="card-text">{{ site.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{ '/feed.xml' | relative_url }}" title="RSS">RSS</a></li>
    <li class="list-group-item"><a href="mailto:{{ network[1] }}" title="Email me">Email</a></li>
    <li class="list-group-item"><a href="https://github.com/{{ network[1] }}" title="GitHub">GitHub</a></li>
    <li class="list-group-item"><a rel="me" href="https://{{ network[1] }}" title="Mastodon">Mastodon</a></li>
    <li class="list-group-item"><a href="{{ '/aboutme' | relative_url }}" title="Aboutme">About</a></li>
  </ul>
 <div class="card-footer text-body-secondary">
    {% if site.author %}
        {{ site.author }}
        &nbsp;&bull;&nbsp;
      {% endif %}
      {{ site.time | date: '%Y' }}
  </div>
</div>
